
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
body {
    background-color: bisque; 
}
header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 50px;
    font-family:'Courier New', Courier, monospace;
    color:bisque;
    font-size: 25px;
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-position: center;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px; 
}
header nav ul {
    list-style-type: none;
}
header nav ul li {

    margin-left: 25px;
}

a {
    color:bisque;
    text-decoration:underline;

}

p {
    display:flex;
    color:bisque;
    font-size: 20px;
    

}
.h-box {
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    background-color: lightpink;
}
.h-box ul {
    display:flex;
    list-style-type: none;
    align-items: center;
    flex-direction: column; 
    justify-content: space-around;
    line-height: 10;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    
}

.about-me {
    display:flex;
    align-items: flex-end;
    margin-left: 350px;
    font-family:'Courier New', Courier, monospace;
    background-color:darkslategray;
    color:bisque;  

}

@media screen and (max-width: 992px) {
    p {
      width: 50%;
    }
}