:root {
    --main-color: bisque;
    --mobile-color: red;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
body {
    background-color: bisque; 
}
header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 50px;
    font-family:'Courier New', Courier, monospace;
    color: var(--main-color);
    font-size: 25px;
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-position: center;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px; 
}
header nav ul {
    list-style-type: none;
}
header nav ul li {

    margin-left: 25px;
}
/*html semantic tag to link the nav bar to the according sections*/
a {
    color: var(--main-color);
    text-decoration:underline;

}
/* text about me section*/
p {
    display:flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:rgb(100, 98, 98)
}
/*headers for about me, my portfolio, and contact me*/
section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
}
section div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
div ul{
    list-style-type: none;

} 

main {
    
    padding: 50px;
    margin: auto;
}  
/*image of myself*/
img {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}
/*images of my current deployed work*/
figure {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-style: bold;
    font-size: 20px;
    text-indent: 0;
    border: thick rgb(99, 99, 99) solid;
    margin: 0.5em;
    padding: 0.5em;
  }
  /*actual contact infomation*/
aside ul {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightpink;
}

aside ul li {
    
    font-size: 25px;
    font-family:'Courier New', Courier, monospace ;
    color:dimgrey;
    font-weight: bold;
    
}

.about-me {
    text-align: center;
    padding-right: 100px;
    font-size: 35px;
    color: rgb(99, 98, 98);
    background-color:lightpink;
   
}
.my-portfolio {
    font-size: 35px;
    color: lightpink;
    background-color:rgb(99, 98, 98);  
}
.contact-me {
    font-size: 35px;
    color: rgb(99, 98, 98);
    background-color:lightpink;
    padding-top: 50px;
    padding-bottom: 50px;
    
} 

#one, #two {
    flex-direction: row;
    justify-content: space-around;
    max-width: 475px;
    margin-left: 100px;
    font-size: 18;
    font-family: 'Courier New', Courier, monospace ;
    color: dimgray;
    }

@media screen and (max-width: 800px) {
    section {
        
        
        flex-direction: column;
        
}
    figure {
        flex-direction: column;
    }
    
}