
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
body {
    background-color: bisque; 
}
header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 50px;
    font-family:'Courier New', Courier, monospace;
    color:bisque;
    font-size: 25px;
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-position: center;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px; 
}
header nav ul {
    list-style-type: none;
}
header nav ul li {

    margin-left: 25px;
}

a {
    color:bisque;
    text-decoration:underline;

}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
}
div ul{
    list-style-type: none;

} 

main {
    
    padding: 50px;
    margin: auto;
}  


.about-me {
    font-size: 35px;
    color: rgb(99, 98, 98);
    background-color:lightpink;
}
.my-portfolio {
    font-size: 35px;
    color: lightpink;
    background-color:rgb(99, 98, 98);  
}
.contact-me {
    font-size: 35px;
    color: rgb(99, 98, 98);
    background-color:lightpink;  
} 

.text {
    inline-size: 500px;
    float: right;
    font-size: 20px;
}